/* Reglas generales de la app */
body {
    background-color: rgb(176, 224, 224);
}

.title {
    margin-top: 50px;
    text-align: center;
}

[class^="btn-"],
[class*=" btn-"] {
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
    touch-action: manipulation;
    text-transform: capitalize;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
}

#message {
    margin: 5px 0;
    text-align: center;
}

/* Reglas de estilos para el formulario */
form {
    width: 380px;
    margin: 50px auto;
}

.input {
    margin-top: 10px;
    display: flex;
}

.input label {
    width: 20%;
    text-align: right;
    padding-right: 5px;
    align-self: center;
}

.input input {
    padding: 6px 12px;
    border: 1px solid #000;
    width: 60%;
}

.input:nth-child(3) input,
.input:nth-child(4) input {
    width: 25%;
}

.botones {
    margin-top: 10px;
    text-align: center;
}

.botones button {
    padding: 8px 20px;

}

.btn-registrar {
    background-color: blue;
    color: #fff;
}